body {
	width: 100vw;
	height: 100vh;
}

* {
	font-family: "Open Sans";
	font-weight: normal;
	position: relative;
}

.flexible {
	display: flex;
}

.flexible.my-col {
	flex-direction: column;
	height: 50%;
}

.subtext-wrapper.flexible {
	height: 75px;
	width: 80%;
	flex-shrink: 0;
	justify-content: flex-start;
	align-items: center;
}

.flex-item {
	flex-shrink: 0;
	margin: 10px;
}

.my-container {
	height: 16.5%;
	width: 75%;
	position: absolute;
	top: 9.8%;
	left: 11.5%;
}

.title {
	font-size: 72px;
	line-height: 79px;
	display: flex;
	align-items: flex-end;
	color: #373a3c;
}

.subtitle {
	font-size: 24px;
	line-height: 24px;
	margin: 0;
}

.user-input {
	width: 86px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding-left: 20px;
}

.my-button {
	width: 39px;
	height: 38px;
	border-radius: 4px;
}

.user-input,
.my-button {
	display: inline-block;
}

.error-box {
	display: none;
	width: 180px;
	height: 33px;
	background: #f2dede;
	border: 1px solid #ebcccc;
	border-radius: 4px;
	padding-left: 5px;
	position: relative;
	color: #a94442;
}

.error-text {
	color: #d9534f;
	font-size: 16px;
}

.my-spinner {
	display: none;
}

.user-input-error {
	color: #d9534f;
	border: 1px solid #d9534f;
}

/* Responsive for mobile */
@media screen and (max-width: 575px) {
	.my-container {
		height: 30%;
	}
	.title {
		font-size: 3.5em;
		line-height: 1em;
	}
	.flexible {
		display: block;
		width: 100%;
	}
	.vert-align {
		position: relative;
		top: 0;
		transform: none;
		left: 0;
	}
	.user-input,
	.my-button {
		vertical-align: middle;
	}
}
