body {
	width: 100vw;
	height: 100vh;
}

* {
	font-family: "Open Sans";
	font-weight: normal;
}

.my-container {
	height: 16.5%;
	width: 50%;
	position: absolute;
	top: 9.8%;
	left: 11.5%;
}

.subtext-wrapper {
	position: relative;
	top: 30%;
}

.title {
	font-size: 72px;
	line-height: 79px;
	display: flex;
	align-items: flex-end;
	color: #373a3c;
}

.subtitle {
	font-size: 24px;
	line-height: 24px;
}

.user-input {
	width: 86px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	left: 28%;
}

.my-button {
	width: 39px;
	height: 38px;
	border-radius: 4px;
	left: 42%;
}

.subtitle,
.user-input,
.my-button {
	display: inline-block;
}

.vert-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
